body{
    background-color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*{
    /* border: 1px solid red; */
}

@font-face {
    font-family: tintin;
    src: url(../images/Tintin\ Majuscules\ Bold.ttf);
}

.title{
    padding-top: 50px;
    margin: auto;
    font-family: tintin;
    font-weight: bold;
    text-align: center;
    max-width: 55vw;
    font-size: 45px;
    padding-bottom: 50px;
}

.author-line{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 70px;
    text-align: center;
    max-width: 55vw;
    font-size: 20px;
}

.content{
    margin: auto;
    line-height: 35px;
    text-align: left;
    max-width: 600px;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 750px) {
    /* formatting for mobile */
    /* makes the images vertical instead of horizontal */
    .image-container {display: grid;}
}

.caption{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;
    display: flex;
    color: gray;
}

.link {
    color: black;
    text-decoration: underline;
    text-decoration-color: #052afe;
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: all;
}

a {
    text-decoration: none;
}

.highlight {
    background-image: url(../images/highlight.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}